<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>EventosApp</title>
	
	<link rel="stylesheet" href="style/styleCss.css"/>
</head>

<body class="container">

	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">Evento</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="/eventos" class="waves-effect waves-light btn"> <i class="material-icons left">dehaze</i>Lista de eventos</a></li>
			</ul>
		</div>
	</nav>

	<div class="detalhesEvento" th:each="evento : ${evento}">
		<h5>Detalhes do evento</h5>
		<div class=row>
			<p>Nome: <span th:text="${evento.nome}"></span></p>
			<p>Local: <span th:text="${evento.local}"></span></p>
			<p>Data: <span th:text="${evento.data}"></span></p>
			<p>Horário: <span th:text="${evento.horario}"></span></p>
		</div>
	</div>

	
	<div class="formularioConvidado">
		
		<th:block th:include="mensagemValidacao"></th:block>
		
		<h5>Novo convidado</h5>
		<form method="post">
		
		<div class="row">
			<div class="input-field col s12">
				Nome: <input value="" type="text" name="nome"> 
			</div>
		</div>	
		
		<div class="row">
			<div class="input-field col s12">
				CPF: <input value="" type="text" name="cpf">
			</div>
		</div>
			<button class="waves-effect waves-light btn" type="submit">Adicionar</button>
		</form>
	</div>
	
	<table class="tabelaConvidado">
		<thead>
			<tr>
				<th>Nome</th>
				<th>CPF</th>
				<th>Deletar</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="convidado : ${convidados}">
				<td>
					<span th:text=${convidado.nome}></span>
				</td>
				
				<td>
					<span th:text=${convidado.cpf}></span>
				</td>
				
				<td>
					<a class="waves-effect waves-red waves-button-input" th:href="${(#mvc.url('EC#deleteConvidado').arg(0, convidado.codigo)).build()}">
						<i class="material-icons">delete</i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>