<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>EventosApp</title>

	<link rel="stylesheet" href="style/styleCss.css"/>
</head>

<body class="container">

	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">Lista de eventos</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li>
					<a href="/cadastrarEvento" class="waves-effect waves-light btn">
						<i class="material-icons left">add_circle_outline</i>Cadastrar evento</a>
				</li>
			</ul>
		</div>
	</nav>

	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Local</th>
				<th>Data</th>
				<th>Horário</th>
				<th>Deletar</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="evento : ${eventos}">

				<td>
					<a th:href="${(#mvc.url('EC#listDetalhesEvento').arg(0, evento.codigo)).build()}">
						<span th:text="${evento.nome}"></span>
					</a>
				</td>

				<td>
					<span th:text="${evento.local}"></span>
				</td>

				<td>
					<span th:text="${evento.data}"></span>
				</td>

				<td>
					<span th:text="${evento.horario}"></span>
				</td>
				
				<td>
					<a class="waves-effect waves-red waves-button-input" th:href="${(#mvc.url('EC#deleteEvento').arg(0, evento.codigo)).build()}">
						<i class="material-icons">delete</i>
					</a>
				</td>
			</tr>
		</tbody>

	</table>

	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>